include README.md
include requirements.txt
include pyproject.toml
# include LICENSE  # You can uncomment this if you add a LICENSE file later

# Include all files from the package directory initially
graft foundational_ai_server

# Exclude specific file types globally
global-exclude *.c       # Exclude all C source files (Cython intermediate)
global-exclude *.o       # Exclude compiled object files
global-exclude *.pyc     # Exclude Python bytecode files
global-exclude __pycache__ # Exclude pycache directories
global-exclude *~        # Exclude backup files

global-exclude .env

global-exclude .git/
global-exclude .gitignore

global-exclude .mypy_cache/
global-exclude .pytest_cache/
global-exclude .vscode/

global-exclude venv/
global-exclude env/
global-exclude .venv/
global-exclude .eggs/
global-exclude *.egg-info/

# Ignore development and testing files
prune tests/
prune examples/
prune docs/
