include README.md
include LICENSE
include requirements.txt
include pyproject.toml

# Include all directories and their contents
recursive-include src/*

# Global exclude patterns
global-exclude __pycache__
global-exclude *.pyc
global-exclude .env
global-exclude venv/
global-exclude .gitignore
global-exclude .git/
