fastapi>=0.115.6
python-dotenv>=1.0.1
uvicorn>=0.30.6
websockets>=13.0.1
pipecat-ai[cartesia,daily,openai,silero,webrtc,deepgram,websocket]>=0.0.65
pipecat-ai-small-webrtc-prebuilt>=0.5.0
av>=14.0.0
loguru>=0.7.0
pydantic-ai[logfire]>=0.0.51
smallestai>=3.1.0
openai-agents>=0.0.11
ruff>=0.8.6
twilio