fastapi
litellm
livekit_api
python-dotenv
uvicorn
alembic
sqladmin
SQLAlchemy
sqlmodel
asyncpg
ruff
deepgram-sdk
pydantic_settings
mcp
pipecat-ai[cartesia,daily,openai,silero,webrtc,deepgram,websocket]
pipecat-ai-small-webrtc-prebuilt
av
websockets
openai-agents
pydantic-ai[logfire]
smallestai
